
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Stick', sans-serif;
    
}


/* BODY SECTION */
body {
    background-color: #f1f3f2;
    -webkit-touch-callout: none;
}



/* HEADER SECTION*/
header {
    font-size: 25px;
    font-family: 'Stick', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
    padding: 15px 0 0 25px;
    
}

.hdrLogo {
    text-decoration: none;
    color: #3d8d93;
}

.hatlogo {
    width:55px;
    height: 75x;
}

.hdr-h1 {
    margin-left: 20px;
}

.picContainer {
    display: flex;
}

/* NAV SECTION */
.navContainer {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin: 40px 20px 0 0;


}




.btn {
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    display:block;
    text-decoration: none;
    color: darkslategray;
    margin: 0 20px 0 50px;
    padding: 2px 20px;
    border-radius: 8px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
}

.btn:active {
    transform: scale(0.9);
}


.btn-home {
    background: linear-gradient( #64ccce, #1e7a7b);  
}


.btn-note {
    background: linear-gradient( #f4d3a0, #ac5f28);
}



/* HOME PAGE */

/* MAIN SECTION */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.qH2 {
    margin-bottom: 30px;
}

/* HAT IMAGE AND ANIMATIONS */
.pencilHat {
    height: 200px;
    width: 150px;
    border-radius: 100%;
    animation-fill-mode: forwards;
}

.pencilHat:active {
    animation: wiggle 0.7s ease-in-out both infinite;
}


.conjQuote {
    animation: enlarge 2s ease-in-out both infinite;
}



@keyframes enlarge {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(6deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-6deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}


/* QUOTE SECTION SECTION */

.qBox {
   
    
    height: 200px;
    width: 800px;
    text-align: center;
}

.qTxt {
  
    position: relative;
    bottom: 270px;
    left: 200px;
    width: 410px;
}



.paperTexture {
    position: relative;
    height: 400px;
    width: 800px;
}


/* ABOUT PAGE */

.construction {
    height: 500px;
    width: 800px;
}


/* LEAVE A NOTE PAGE */


.notesHdrCont {
    margin-bottom: 40px;
}

.notesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notesHdrCont {
    text-align: center;
}

.textarea {
    text-align: center;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #e3e3e3;
    box-shadow: 9px 11px 18px -10px #5b310b;
    width: 500px;
    height: 80px;
}

.buttonCont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
    width: 500px;
}

.clear, .submit {
    width: 150px;
    font-size: medium;
    background-color: #fe6f5e;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 7px 14px -10px #5b310b;
    padding: 10px;
}

.clear:hover, .submit:hover {
    background: linear-gradient( #fe6f5e, #a92448);
}

.txtLimit {
    padding: 10px 0 20px 0;
    font-size: 12px;
}

.boxContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
}

.box {
    background-color: #f4d2a09a;
    box-shadow: 9px 11px 18px -10px #5b310b;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
}

/* FOOTER SECTION*/

footer {
    margin-top: 300px;
    text-align: center;
}

.footerContainer {
    color: darkslategray;
    padding: 10px;
    
}

.footerContainer a {
    color: #55462f;
    margin: 7px;
    padding: 5px;
}

.footerContainer p {
    margin-bottom: 10px;
}


/* TABLET VERSION */

@media (max-width:858px) {
    header {
        justify-content: center;
    }
    .paperTexture {
        height: 300px;
        width: 680px;
    }

    .qTxt {
        bottom: 220px;
        font-size: 15px;
        width: 380px;
        margin-left: 30px;
    }
}

@media (max-width:519px) {
    .pencilHat:hover, .pencilHat:active {
        animation: wiggle 0.7s ease-in-out both infinite;
    }
    header {
        margin-bottom: 40px;
        padding: 15px 0 0 0;
    }
    .navContainer {
        height: 120px;
    }
    .qH2 {
        font-size: 20px;
    }
    .paperTexture {
        height: 220px;
        width: 400px;
    }
    .qTxt {
        bottom: 175px;
        font-size: 11px;
        width: 200px;
        margin-left: 110px;
    }
    .pencilHat {
        height: 140px;
        width: 100px;
    }

    .notesHdrCont {
        font-size: 10px;
    }

    .textarea {
        width: 360px;
    }

    footer {
        margin-top: 70px;
    }

}